*{
    margin: 0;
    padding: 0;
}

.header{
    padding-top: 40px;
    padding-bottom: ;
}

.top_content{
    padding-top: 164px;
}

.top_logos{
margin-bottom: 40px;
}

.buttons{
    padding-top: 488px;
}